@charset "UTF-8";
 

 @import url('https://fonts.googleapis.com/css2? family = Roboto: ital, wght @ 1.300 & display = swap'); 

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #faebd7;
    margin: 0px;
}

div#sobreMim{
 padding-top: 50px;
}

div#projetos{
    padding: 16px;
    margin-bottom: 50px;
}

h1#helloworld{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 70px;
}

.ajustarTamanho{
    max-width: 250px;
    max-height: 350px;
}

a{
    text-decoration: none; 
    color: black;
}

#fundo{
    background-color:#FFBF51;
}
div#contatos {
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    color: white;
}

div >  h3{
    font-family: 'Roboto', sans-serif;

}


